* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    margin : 0;
    padding: 0;
}

::before, ::after {
    box-sizing: inherit;
}

.top-nav {
    width: 100vw;
    background-color: black;
    height: 6vh;
    border-bottom: 1px solid skyblue;
    position: relative;
}

header {
    background-image: url(img/banner-bg.jpg);
    width: 100vw;
    height: 987px;
}

.bg-purple {
    background-color: rgba(132, 96, 246, 0.8);
    width: 100vw;
    height: 987px;
    display: flex;
    max-width: 100vw;;
}

.flex-container {
    display: flex;
}

.title-header {
    font-family: "Poppins", sans-serif;
}

.bg-purple > .container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 60%;
    margin: 0 auto;
    min-width: 1100px;
}

.header-2nd {
    padding-top: 50px;
    width: 60%;
}

.header-text {
    display: flex;
    text-align: center;
}

.header-text h1 {
    text-align: center;
}

.flex-centrar-vertical{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header-2nd  {
    display: flex;
    justify-content: space-between;
}

.white {
    color: white;
}

.button {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px 17px;
    background: none;
    font-size: 15px;
}



.history{
    background-color: #f1f5f7;
    width: 100vw;
    height: 839px;
}



.history {
    padding: 5.5% 0;
}

.history h2 , .container > div > p{
    text-align: center;
}

.history .flex-container {
    margin: 9% 0;
    background-color: #FFFFFF;
    padding: 5% 10%;
}

.history-text {
    width: 60%;
    margin-left: 150px; 
}

.history-text button {
    border-color: rgba(70, 63, 63, 0.486);
    margin-right: 10px;
}

.history-text button:hover {
    background-color: #8568f6;
    color: #FFFFFF;
}

.history-text h3 {
    margin-top: 13px;
}

.section-2 {
    width: 100vw;
    height: 494px;
    background-color: #f3487f;
}

.section-2 .container {
    background-color: #ffffff;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(auto, 50%);  
}

.bg-gray {
    background-color: #6f7598;
    padding: 90px 25px;
}

.bg-gray p {
    text-align: center;
    color: #ffffff;
}

.h-pink i {
    display: block;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 25%;
    color: #f3487f;
}

.h-pink:hover {
    background-color: #f3487f;
    color: white;
}

.section-3 {
    background-color: #ffffff;
    width: 100vw;
    height: 691px;
}

.row {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.d-flex {
    display: flex;
}

.section-3 .d-flex{
    justify-content: space-around;
}

.ilustrator {
    width: 45%;
    padding: 8% 0;
}

.section-4 .row {
    margin: 60px 0;
}
.section-4 {
    width: 100vw;
    height: 592px;
    background-color: #5dd1e3;
    padding: 1px 0;
}

.bg-white {
    background-color: white;
}

.section-4 .bg-white {
    flex: 1;
    padding: 70px 20px;
    text-align: center;
}

.section-4 .bg-white p {
    margin-top: 13px;
}