* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    margin : 0;
    padding: 0;
}

::before, ::after {
    box-sizing: inherit;
}

.top-nav {
    background-color: black;
    height: 6vh;
    border-bottom: 1px solid skyblue;
}

header {
    background-image: url(img/banner-bg.jpg);
    width: 100vw;
    height: 94vh;
}

.bg-purple {
    background-color: rgba(132, 96, 246, 0.8);
    height: 94vh;
    display: flex;
}

.flex-container {
    display: flex;
}

.title-header {
    font-family: "Poppins", sans-serif;
}

.bg-purple > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.header-2nd {
    padding-top: 50px;
    width: 90%;
}

.header-text {
    display: flex;
    text-align: center;
}

.header-text h1 {
    text-align: center;
}

.flex-centrar-vertical{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header-2nd  {
    display: flex;
    justify-content: space-between;
}

.white {
    color: white;
}

.button {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid white;
    padding: 8px 15px;
    background: none;
}

.history {
    background-color: #f1f5f7;
    height: 85vh; 
}
